body {
    font-family: arial, sans-serif;
    background-color:#FFCCBC;
}


h1 {
    color: #FF5722;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;

    color: #FF5722;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
}

li:first-letter {
    text-transform: capitalize;
}

.weather-app-wrapper {
    max-width: 700px;
    margin: 40px auto;
    background-color: white;
}

.weather-app {
    padding: 20px;
    border: 1px solid #FF5722;
    border-radius: 5px;
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 5px;
    height: 64px;
    width: 64px;
}

.weather-temperature strong {
    color:#FF5722;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}

.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
    color: #FF5722;
}

.weather-temperature .active {
    color: #FF5722;
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: #FF5722;
}

.weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;
}

.weather-forecast-temperature-min {
    opacity: 0.5;
}

.weather-forecast-temperatures {
    font-size: 13px;
    color: #FF5722;
}


img {
    max-width: 600px;
    display: block;
    align-items: center;
}
